<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>
    {{
      coordinates.coords.latitude | number
    }},
    {{
      coordinates.coords.longitude | number
    }}
  </h3>
  <p *ngIf="showAccuracy">
    {{
      coordinates.coords.accuracy | number
    }}
  </p>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
    your guide.</p>

  <ion-button (click)="showIonicDocs()">showIonicDocs</ion-button>
  <ion-button color="primary" (click)="toggleAccuracy()">Toggle</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger" (click)="showAlert()">Danger</ion-button>
  <ion-button color="light">Light</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>
</ion-content>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let notif of notifications; let i = index;">{{i+1}}. {{notif | json}}</ion-item>
  </ion-list>
</ion-content>